.ol-viewport {
  button {
      display: none;
  }
  .ol-attribution {
    button {
      display: block;
      background: var(--background-color);
      border: none;
      margin: 5px 3px;

    }
    &.ol-collapsed > ul {
        opacity: 0;
     }
  }
  ul {
    pointer-events: none;
    transition: opacity ease-in-out .3s;
    opacity: 1;
    list-style: none;
    position: absolute;
    top: 17px;
    left: 3px;
    font-size: .85rem;
    line-height: 1.4;
    text-align: left;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 0 .2em .2em .2em;
    a {
      pointer-events: all;
    }
  }
}